.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 20px;
    text-align: center;
    line-height: 200px;
}

.circle {
    width: 0px;
    height: 0px;
    background-color: blue;
    border-radius: 50%;
    transition: width 3s, height 3s;
}

.showCircleClass {
    width: 200px;
    height: 200px;
}
